* {
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
  width: 720px;
  margin: 0 auto;
  font-family: Roboto;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

input {
  border-radius: 5px;
}

.container {
  display: flex;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 40px 20px;
}

.temperature-converter {
  display: flex;
  flex-direction: row;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.invalid-input {
  border: 2px solid rgb(255, 126, 126);
}

.elapsed-time, .duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}