* {
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
  width: 720px;
  margin: 0 auto;
  font-family: Roboto;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

.temperature-converter {
  display: flex;
  flex-direction: row;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.flight-form {
  display: flex;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 150px;
  padding: 20px;
}

.invalid-input {
  background-color: rgb(255, 126, 126);
}

.timer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 20px;
  justify-content: space-between;
  width: 40%;
  height: 150px;
  padding: 20px;
}

.elapsed-time, .duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}